/* Webfont: Bahnschrift-LightCondensed */@font-face {
    font-family: 'BahnschriftLightCond';
    src: url('Bahnschrift-LightCondensed.eot'); /* IE9 Compat Modes */
    src: url('Bahnschrift-LightCondensed.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Bahnschrift-LightCondensed.woff') format('woff'), /* Modern Browsers */
         url('Bahnschrift-LightCondensed.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

